[Desktop Entry]
Name=Install Apache Directory Studio (LDAP Client)
Exec=./functions/system/systemfunctions/apachedirectorystudio.sh
Terminal=false
Type=Application
Icon=apachedirectorystudio
