[Desktop Entry]
Name[en_US]=Hardware and drivers helper
Name[cs_CZ]=Pomocník s hardware a ovladači
Exec=./functions/hardware/uflinux-helper-hardware
Terminal=false
Type=Application
Icon=device_pci
