[Desktop Entry]
Name=Install Geforce NOW Client
Exec=./functions/game/gamefunctions/geforcenow.sh
Terminal=false
Type=Application
Icon=io.github.hmlendea.geforcenow-electron
