[Desktop Entry]
Name=Manage Remote Desktop
Exec=./functions/system/systemfunctions/remotedesktop.sh
Terminal=false
Type=Application
Icon=gnome-remote-desktop
