[Desktop Entry]
Name[en_US]=Manage C#
Name[cs_CZ]=Možnosti C#
Exec=./functions/developer/developerfunctions/csharp.sh
Terminal=false
Type=Application
Icon=text-csharp
