[Desktop Entry]
Name=Install IDE/Code Editor
Exec=./functions/developer/developerfunctions/ide.sh
Terminal=false
Type=Application
Icon=applications-development
