[Desktop Entry]
Name[en_US]=Install IDE/Code Editor
Name[cs_CZ]=Nainstalovat IDE/editor kódu
Exec=./functions/developer/developerfunctions/ide.sh
Terminal=false
Type=Application
Icon=applications-development
