Package: uf-uf-helper
Version: 0.5
Architecture: all
Depends: zenity, yad, gnome-terminal, flatpak, apt, apt-transport-https
Maintainer: UFlinux
Description: UFlinux helper that helps users with managment of UFlinux
