[Desktop Entry]
Name=Developer helper
Name[cs_CZ]=Vývojářský pomocník
Exec=./functions/developer/uflinux-helper-developer
Terminal=false
Type=Application
Icon=package_development
