[Desktop Entry]
Name[en_US]=Game helper
Name[cs_CZ]=Herní pomocník
Exec=./functions/game/uflinux-helper-game
Terminal=false
Type=Application
Icon=input-gaming
