[Desktop Entry]
Name[en_US]=Install GSConnect phone companion
Name[cs_CZ]=Nainstalovat propojení s telefonem GSConnect
Exec=./functions/gsconnect.sh
Terminal=false
Type=Application
Icon=org.gnome.Shell.Extensions.GSConnect
