[Desktop Entry]
Name=Advanced system settings
Name[cs_CZ]=Pokročilá systémová nastavení
Exec=./functions/settings/uflinux-helper-settings
Terminal=false
Type=Application
Icon=settings
