[Desktop Entry]
Name=Sysadmin helper
Name[cs_CZ]=Pomocník Systémového správce
Exec=./functions/system/uf-helper-system
Terminal=false
Type=Application
Icon=network-server
