[Desktop Entry]
Name=Install Windows Compatibility layer
Name[cs_CZ]=Nainstalovat nástroj pro kompatibilitu s Windows
Exec=./functions/wine.sh
Terminal=false
Type=Application
Icon=wine
