[Desktop Entry]
Name=Advanced desktop customization (gnome-tweaks)
Name[cs_CZ]=Pokročilé přizpůsobení vzhledu (gnome-tweaks)
Exec=gnome-tweaks
Terminal=false
Type=Application
Icon=preferences-desktop-theme
