[Desktop Entry]
Name=Manage Firewall (GUFW)
Name[cs_CZ]=Spravovat Firewall (GUFW)
Exec=pkexec gufw
Terminal=false
Type=Application
Icon=firewall-config
