[Desktop Entry]
Name=Manage firmware (gnome-firmware)
Name[cs_CZ]=Spravovat firmware (gnome-firmware)
Exec=gnome-firmware
Terminal=false
Type=Application
Icon=gnome-firmware
