[Desktop Entry]
Name=Gamepad settings (jstest)
Name[cs_CZ]=Nastavení gamepadu (jstest)
Exec=jstest-gtk
Terminal=false
Type=Application
Icon=sc-controller
