[Desktop Entry]
Name=Hardware info and profiling (hardinfo)
Name[cs_cz]=Informace a profilování hardware (hardinfo)
Exec=hardinfo
Terminal=false
Type=Application
Icon=jockey
