[Desktop Entry]
Name=Advanced networking (nm-c-e)
Name[cs_CZ]=Pokročilé možnosti sítě (nm-c-e)
Exec=nm-connection-editor
Terminal=false
Type=Application
Icon=network-wired
