[Desktop Entry]
Name=Manage Power options (TLPUI)
Name[cs_CZ]=Spravovat pokročilé možnosti napájení (TLPUI)
Exec=tlpui
Terminal=false
Type=Application
Icon=preferences-system-power
