[Desktop Entry]
Name=Sound effects (easyeffects)
Name[cs_CZ]=Zvukové efekty (easyeffects)
Exec=flatpak run com.github.wwmm.easyeffects
Terminal=false
Type=Application
Icon=easyeffects
