[Desktop Entry]
Name=Software for Logitech, Etekcity, GSkill, Roccat, Steelseries mouses
Name[cs_CZ]=Software pro myši od Logitechu, Etekcity, GSkill, Roccat a Steelseries
Exec=./functions/hardware/hardwarefunctions/piper.sh
Terminal=false
Type=Application
Icon=gnome-mouse
